@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    max-width: 1924px;
    margin: auto;
    background-color: #000000;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

#footer {
    background-color: #262728;
    color: #FFFFFA;
}

footer a {
    color: #FFFFFA;
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #9EBDB3;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 9;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 26px;
}

.nav_link {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    color: #000103;
    margin-left: 60px;
}

.navbar-form-search {
    position: relative;
}

.navbar-form-search .form-control {
    width: 250px;
}

.navbar-form-search .btn {
    border: 0;
    background: transparent;
    font-size: 18px;
}

.navbar-form-search .btn:active, .navbar-form-search .btn:hover, .navbar-form-search .btn:focus {
    color: #000;
    outline: none;
    box-shadow: none;
}

.navbar-form-search .search-form-container {
    text-align: right;
    position: absolute;
    width: 300px;
    overflow: hidden;
    background: #fff;
    right: 40px;
    top: 3px;
    z-index: 9;
    transition: all 0.3s ease-in-out;
}

.navbar-form-search .search-form-container.hdn {
    width: 0;
}

.navbar-form-search .search-form-container .search-input-group {
    display: flex;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 10%;
    bottom: 10%;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    background-color: transparent;
    border: 1px solid #C50000;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    background-color: #B9B8BA;
    width: 12px;
    height: 12px;
}

.slider_text_container {
    position: absolute;
    left: 10%;
    bottom: 50%;
    text-align: start;
}

.slider_text_title {
    font-family: Open Sans, serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    color: #F2625F;
}

.slider_text_description {
    max-width: 700px;
    font-family: Lora, serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0;
    color: #ffffff;
}

#partners {
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #FFFFFA;
}

.video-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9EBDB3;
    color: #ffffff;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    font-size: 38px;
    border: none;
    cursor: pointer;
}

.footer_soc {
    font-size: 31px;
    margin: 12px;
}

.footer_link {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFA;
}

#all_products,
#products {
    padding-top: 160px;
}

.product_title {
    font-family: Lora, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFA;
    margin-bottom: 32px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product_item {
    max-height: 670px;
    text-align: left;
    cursor: pointer;
}

.product_img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.product_name {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFA;
    margin-top: 18px;
}

.hover-show {
    position: relative;
}

.hover-show-button {
    display: none;
}

.hover-show-button > a {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #9EBDB3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lora, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0;
    color: #000103;
}

.product_item:hover .hover-show-button {
    position: absolute;
    top: 0;
    background-color: #00010380;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_product_item {
    height: 800px;
    cursor: pointer;
}

.all_product_name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.all_hover-show {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.all_product_img {
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#contact_us {
    padding-top: 60px;
    padding-bottom: 350px;
}

#contact {
    height: 800px;
    background-image: url("/img/bg_contact.png");
    position: relative;
    background-position: center;
    background-size: cover;
}

.form_title {
    font-family: Lora;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0;
    color: #FFFFFA;
    margin-bottom: 22px;
    text-align: center;
}

#container_form {
    background-color: #3E3D3F;
    padding: 60px 46px;
    position: absolute;
    bottom: -180px;
    width: inherit;
    max-width: 615px;
}

.btn-contact_form {
    background-color: #9EBDB3;
    font-family: Lora, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0;
    color: #FFFFFA;
    border-radius: 0;
}

.contact_form_group {
    margin-bottom: 32px;
}

.banner {
    max-height: 600px;
}

.banner_image {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: auto;
}

.banner_title {
    font-family: Lora, serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 500;
    line-height: 83px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.banner_description {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.share,
.share > a {
    margin-top: 60px;
    font-family: Arial, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: #C1D6D0;
}

.about_title {
    font-family: Lora, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0;
    color: #FFFFFA;
    margin-bottom: 32px;
}

.about_info {
    background-color: #1D1D1E;
    padding: 100px;
}

.about_info_description {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.characteristics_title {
    font-family: Arial, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    color: #FFFFFA;
    border-bottom: 1px solid #706F71;
}

.about_info_item {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    color: #FFFFFA;
    list-style: none;
    line-height: 75px;
    border-bottom: 1px solid #706F71;
}

.download_pdf {
    font-family: Arial, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: #C1D6D0;
}

#gallery {
    padding-top: 160px;
}

#gallery h2 {
    font-family: Lora, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.swiper_about {
    width: 100%;
    max-height: 730px;
    height: auto;
}

.swiper_about img {
    width: unset;
    max-height: 700px;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
    left: 15px;
}

.swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid #C50000;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet {
    background-color: #B9B8BA;
    width: 12px;
    height: 12px;
}


.banner_category {
    max-width: 1920px;
    height: 41.6vw;
    width: 100%;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: left;
    color: #fff;
}

.banner-content h1 {
    font-size: 3em;
    margin: 0;
    font-family: Lora, serif;
    font-style: italic;
    font-weight: 500;
    line-height: 83px;
    letter-spacing: 0;
    color: #FFFFFA;
}

.banner-content p {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: Arial, serif;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: #FFFFFA;
}


/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px) {
    .nav_link {
        margin-left: 0;
    }

    .product_img {
        width: 300px;
        height: 300px;
    }

    .hover-show-button > a {
        width: 75px;
        height: 75px;
        font-size: 16px;
    }

    .all_product_item {
        height: 512px;
    }
}

@media screen and (max-width: 992px) {
    .slider_text_title {
        font-size: 24px;
        line-height: 26px;
    }

    .slider_text_description {
        max-width: 435px;
        font-size: 18px;
        line-height: 22px;
    }

    #play-button {
        top: 45%;
        transform: translate(-50%, -45%);
        width: 55px;
        height: 55px;
        font-size: 24px
    }

    .hover-show-button > a {
        width: 55px;
        height: 55px;
        font-size: 14px;
    }

    .all_product_item {
        height: 384px;
    }

    #all_products, #products, #gallery {
        padding-top: 60px;
    }

    .about_info {
        padding: 30px;
    }

    .about_info_description {
        font-size: 14px;
        line-height: 22px;
    }

    .about_info_item {
        font-size: 14px;
        line-height: 55px;
    }
}

@media screen and (max-width: 768px) {
    #partners {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .product_img {
        width: 220px;
        height: 220px;
    }

    .hover-show-button > a {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .all_product_name {
        font-size: 22px;
        line-height: 22px;
    }

    #all_products,
    #products {
        padding-top: 60px;
    }

}

@media screen and (max-width: 576px) {
    .slider_text_container {
        left: 12px;
        bottom: 40%;
    }

    .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 24px;
    }

    .slider_text_title {
        font-size: 18px;
        line-height: 14px;
    }

    .slider_text_description {
        max-width: 280px;
        font-size: 12px;
        line-height: 14px;
    }

    .product_img {
        width: 130px;
        height: 130px;
    }

    .all_product_item {
        height: 215px;
    }

    .all_product_name {
        font-size: 18px;
        line-height: 18px;
    }

    #container_form {
        padding: 30px 23px;
    }

    .banner_image {
        max-width: 400px;
        max-height: 400px;
    }

    .banner_title {
        font-size: 36px;
        line-height: 55px;
    }

    .share {
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {

}
